*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
/*Designing navbar*/
.navbar .container{
    background: #1F2937;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.header-links ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar .logo{
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

/*Styling hero header*/
.header .container{
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    /* flex-wrap: wrap; */
}
.hero{
    width: 300px;
    height: 200px;
}
.hero p{
    margin-bottom: 10px;
    font-size: 18px;
    color: #E5E7EB;
}
.hero button{
    color: #F9FAF8;
    background: #3882F6;
    padding: 10px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}
.header img{
    background-color: gray;
    margin-bottom: 10px;
}
/*styling content-cards*/
.content{
    text-align: center;
    height: 200px;
}
.content h2{
    font-size: 36px;
    font-weight: 800;
    margin: 10px;
}
.content .cards{
    display: flex;
    justify-content: center;
}

.card img{ 
    border: 2px solid #3882F6;
    width: 130px;
    height: 120px;
    border-radius: 10px;
}
.card{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 130px;
    height: 200px;
    margin: 0 20px;
    gap: 10px;
}

/*styling testimony section*/
.testimonial{
    background-color: #d8d3d3;
    height: 120px;
    margin-top: 50px;
    /* width: 130px; */
}
.testimonial .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */ /*testimonial is not centering vertically*/
    gap: 10px;
}
